.content {
  height: 700px;
  position: relative;
  margin: 0 0 100px 0;


  .container_no_buy {
    text-align: center;
    padding: 80px 0 0 0;

    span {
      font-size: 40px;
      color: #242424;
      font-weight: 400;
      margin: 0 10px 0 5px;
    }

    .p {
      width: 180px;
      height: 43px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      background: #CA3835;
      padding: 23px 0 0 0;
      border-radius: 20px;
      color: white;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      display: block;

    }
  }


  .container_buy {
    margin-right: auto;
    margin-left: auto;
    width: 380px;
    z-index: 500;
    height: 690px;
    overflow: scroll;


    .order {
      span {
        text-transform: uppercase;
        font-size: 20px;
        margin: 0 0 0 20px;

      }

      height: 40px;
      border-bottom: solid 1px #E4E4E4;
    }


    .info {
      display: flex;
      margin: 20px 0 0 0;
      border-bottom: solid 1px #E4E4E4;


      .container_photo {
      }

      .your_order {
        padding: 0 0 0 10px;

        .container_name {
          display: inline-block;
          font-weight: 600;
        }

        .amount {
          display: flex;

          .border_minus {
            cursor: pointer;

            .minus {
              display: inline-block;
              border-radius: 10px;
              text-align: center;
              width: 20px;
              height: 20px;
              font-weight: 700;
              border: solid 1px black;

            }
          }

          .number_amount {
            display: inline-block;
            padding: 1px 0 0 5px;

          }

          .plus {
            margin: 16px 0 0 5px;
            cursor: pointer;
            display: inline-block;
            border-radius: 10px;
            text-align: center;
            width: 20px;
            height: 20px;
            border: solid 1px black;

          }

        }

        .costs {
          display: inline-block;
          margin: 0 0 15px 0;

          .x {
            font-weight: 300;
          }

          .amount_cost {
            color: orange;
            font-weight: 500;
          }


        }
      }

      .delete {
        display: inline-block;
        margin-right: 20px;
        margin-left: auto;
      }


    }


    .all {
      position: absolute;
      width: 380px;
      top: 100%;
      margin: 0 60px 0 0;

      .all_cost_order {
        display: flex;

        .text {
          text-transform: uppercase;
          font-size: 20px;

        }

        .all_cost {
          margin-left: auto;
          color: orange;
          font-weight: 500;
        }
      }


      .button_order {
        margin: 20px 0 0 320px;

        .your_like {
          display: block;
          text-decoration: none;
          width: 80px;
          height: 30px;
          background-color: #CA3835;
          border-radius: 20px;
          color: white;
          font-size: 14px;
          text-align: center;
          padding: 8px 0 0 0;
        }


      }


    }
  }
}


@media (max-width: 450px) {

  .container_buy {
    max-width: 300px;
  }
  .all {
    max-width: 260px;

    .button_order {
      transform: translate(-125px, 0);
    }
  }


}


