
.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 350px;


  width: 550px;
  height: 250px;
  border-radius: 20px;
  background: #ef9937;

  text-align: right;


  .xspan {
    display: inline-block;
    transform: translate(-12px, 10px);
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
  }

  .thanks {
    padding: 65px 0 0 0;
    text-align: center;

    span {
      display: inline-block;
      font-weight: 800;
      font-size: 33px;
      color: white;
    }
  }


  @media (max-width: 570px) {

    .content {
      max-width: 450px;
      max-height: 200px;

      .thanks {
        margin: -30px 0 0 0
      }
    }
  }
}

@media (max-width: 470px) {

  .content {
    max-width: 300px;
    max-height: 200px;

    .thanks {
      margin: -25px 0 0 0;

      span {
        font-size: 25px;
      }

    }
  }
}