
.formControl.error input,
.formControl.error textarea {
  border: solid red 2px;
}


.formControl.touch input {


}

.formControl.standart input {
  border: solid 2px gray;

}


.formControl.error div {
  color: red;
}


.errormessageinput {
  font-size: 18px;

}


@media (max-width: 560px) {
  .errormessageinput {
    margin: 2px 0 10px 15px;
  }
}


