.header_center {
  height: 95px;
  background-color: black; }

@media (min-width: 767px) {
  .header_center_container {
    display: flex;
    height: 95px;
    background-color: white;
    justify-content: space-between; }
    .header_center_container .header_center_left {
      display: flex;
      margin: 0 0 0 2%;
      justify-content: space-around;
      text-align: center;
      min-width: 800px; }
      .header_center_container .header_center_left .header_center_left_logo .header_center_left_logo_img {
        width: 95px;
        height: 95px;
        transition-duration: 2s; }
      .header_center_container .header_center_left .header_center_left_logo .header_center_left_logo_img:hover {
        transform: rotate(360deg); }
      .header_center_container .header_center_left .header_center_left_menu {
        margin: 5% 0 0 0; }
        .header_center_container .header_center_left .header_center_left_menu .pizza {
          text-transform: uppercase;
          font-size: 18px;
          color: black;
          text-decoration: none; }
        .header_center_container .header_center_left .header_center_left_menu .pizza:hover {
          color: orange; }
        .header_center_container .header_center_left .header_center_left_menu .ac {
          color: orange; }
      .header_center_container .header_center_left .header_center_left_seil {
        margin: 5% 0 0 0; }
        .header_center_container .header_center_left .header_center_left_seil .sale {
          text-transform: uppercase;
          font-size: 18px;
          color: black;
          text-decoration: none; }
        .header_center_container .header_center_left .header_center_left_seil .sale:hover {
          color: orange; }
        .header_center_container .header_center_left .header_center_left_seil .ac {
          color: orange; }
      .header_center_container .header_center_left .header_center_left_about {
        margin: 5% 0 0 0; }
        .header_center_container .header_center_left .header_center_left_about .about {
          text-transform: uppercase;
          font-size: 18px;
          color: black;
          text-decoration: none; }
        .header_center_container .header_center_left .header_center_left_about .about:hover {
          color: orange; }
        .header_center_container .header_center_left .header_center_left_about .ac {
          color: orange; }
      .header_center_container .header_center_left .header_center_container_reviews {
        margin: 5% 0 0 0; }
        .header_center_container .header_center_left .header_center_container_reviews span {
          text-transform: uppercase;
          font-size: 18px;
          color: black;
          text-decoration: none; }
        .header_center_container .header_center_left .header_center_container_reviews span:hover {
          color: orange; }
      .header_center_container .header_center_left .header_center_container_infromation {
        margin: 5% 0 0 0; }
        .header_center_container .header_center_left .header_center_container_infromation span {
          text-transform: uppercase;
          font-size: 18px;
          color: black;
          text-decoration: none; }
        .header_center_container .header_center_left .header_center_container_infromation span:hover {
          color: orange; }
      .header_center_container .header_center_left .header_center_container_contact {
        margin: 5% 0 0 0; }
        .header_center_container .header_center_left .header_center_container_contact span {
          text-transform: uppercase;
          font-size: 18px;
          color: black;
          text-decoration: none; }
        .header_center_container .header_center_left .header_center_container_contact span:hover {
          color: orange; }
    .header_center_container .header_center_right {
      display: flex;
      margin: 2% 2% 0 0; }
      .header_center_container .header_center_right .header_center_container_order span {
        text-transform: uppercase;
        font-size: 18px;
        color: #917c7c; }
        .header_center_container .header_center_right .header_center_container_order span a {
          text-transform: uppercase;
          font-size: 18px;
          color: orange;
          text-decoration: none; }
      .header_center_container .header_center_right .header_center_container_like {
        margin: -3px 0 0 20px; }
        .header_center_container .header_center_right .header_center_container_like span {
          padding: 0 5px 0 0; }
          .header_center_container .header_center_right .header_center_container_like span a {
            text-decoration: none; }
      .header_center_container .header_center_right .header_center_container_bill {
        margin: -3px 0 0 20px; }
        .header_center_container .header_center_right .header_center_container_bill span {
          padding: 0 5px 0 0; }
          .header_center_container .header_center_right .header_center_container_bill span a {
            text-decoration: none; } }
@media (max-width: 767px) {
  .header_center_menu_icon {
    z-index: 6;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer; }

  .header_center_menu_icon span,
  .header_center_menu_icon::before,
  .header_center_menu_icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white; }

  .header_center_menu_icon::before,
  .header_center_menu_icon::after {
    content: " "; }

  .header_center_menu_icon::before {
    top: 0; }

  .header_center_menu_icon::after {
    bottom: 0; }

  .header_center_menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%); }

  .header_center_container {
    z-index: 5;
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto; }

  .header_center_container._active {
    left: 0; } }

/*# sourceMappingURL=HeaderCenter.module.css.map */
