.content {
  height: 700px;
  position: relative;
  margin: 0 0 100px 0; }
  .content .container_no_buy {
    text-align: center;
    padding: 80px 0 0 0; }
    .content .container_no_buy span {
      font-size: 40px;
      color: #242424;
      font-weight: 400;
      margin: 0 10px 0 5px; }
    .content .container_no_buy .p {
      width: 180px;
      height: 43px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      background: #CA3835;
      padding: 23px 0 0 0;
      border-radius: 20px;
      color: white;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      display: block; }
  .content .container_buy {
    margin-right: auto;
    margin-left: auto;
    width: 380px;
    z-index: 500;
    height: 690px;
    overflow: scroll; }
    .content .container_buy .order {
      height: 40px;
      border-bottom: solid 1px #E4E4E4; }
      .content .container_buy .order span {
        text-transform: uppercase;
        font-size: 20px;
        margin: 0 0 0 20px; }
    .content .container_buy .info {
      display: flex;
      margin: 20px 0 0 0;
      border-bottom: solid 1px #E4E4E4; }
      .content .container_buy .info .your_order {
        padding: 0 0 0 10px; }
        .content .container_buy .info .your_order .container_name {
          display: inline-block;
          font-weight: 600; }
        .content .container_buy .info .your_order .amount {
          display: flex; }
          .content .container_buy .info .your_order .amount .border_minus {
            cursor: pointer; }
            .content .container_buy .info .your_order .amount .border_minus .minus {
              display: inline-block;
              border-radius: 10px;
              text-align: center;
              width: 20px;
              height: 20px;
              font-weight: 700;
              border: solid 1px black; }
          .content .container_buy .info .your_order .amount .number_amount {
            display: inline-block;
            padding: 1px 0 0 5px; }
          .content .container_buy .info .your_order .amount .plus {
            margin: 16px 0 0 5px;
            cursor: pointer;
            display: inline-block;
            border-radius: 10px;
            text-align: center;
            width: 20px;
            height: 20px;
            border: solid 1px black; }
        .content .container_buy .info .your_order .costs {
          display: inline-block;
          margin: 0 0 15px 0; }
          .content .container_buy .info .your_order .costs .x {
            font-weight: 300; }
          .content .container_buy .info .your_order .costs .amount_cost {
            color: orange;
            font-weight: 500; }
      .content .container_buy .info .delete {
        display: inline-block;
        margin-right: 20px;
        margin-left: auto; }
    .content .container_buy .all {
      position: absolute;
      width: 380px;
      top: 100%;
      margin: 0 60px 0 0; }
      .content .container_buy .all .all_cost_order {
        display: flex; }
        .content .container_buy .all .all_cost_order .text {
          text-transform: uppercase;
          font-size: 20px; }
        .content .container_buy .all .all_cost_order .all_cost {
          margin-left: auto;
          color: orange;
          font-weight: 500; }
      .content .container_buy .all .button_order {
        margin: 20px 0 0 320px; }
        .content .container_buy .all .button_order .your_like {
          display: block;
          text-decoration: none;
          width: 80px;
          height: 30px;
          background-color: #CA3835;
          border-radius: 20px;
          color: white;
          font-size: 14px;
          text-align: center;
          padding: 8px 0 0 0; }

@media (max-width: 450px) {
  .container_buy {
    max-width: 300px; }

  .all {
    transform: translate(15px, 0);
    max-width: 260px; }
    .all .button_order {
      transform: translate(-125px, 0); } }

/*# sourceMappingURL=Buy.module.css.map */
