.center_header {
  background-color: #f2f0eb;

  .center_header_container {
    margin: 0 0 20px 0;

    .center_header_container_text {
      padding: 50px 0 0 0;
      text-align: center;

      span {
        color: red;
        font-size: 28px;
      }

      h2 {
        color: #1272cc;
        font-size: 40px;
      }

      p {
        color: #57718a;
        font-size: 18px;
        margin: 0 10px 0 10px;

        a {
          color: #57718a;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    margin: 0 10px 0 10px;

    .pizza {
      padding: 0 20px 0 0;

      span {
        .piza {
          font-size: 22px;
          color: #57718a;
          text-decoration: none;
        }

        .piza:hover {
          color: #f0c24d;
        }

        .ac {
          color: #f0c24d;
        }
      }
    }

    .sneks {
      padding: 0 10px 0 0;

      span {
        .snek {
          font-size: 22px;
          color: #57718a;
          text-decoration: none;
        }

        .snek:hover {
          color: #f0c24d;
        }

        .ac {
          color: #f0c24d;
        }
      }
    }

    .drink {
      padding: 0 0 0 10px;

      span {
        .drin {
          font-size: 22px;
          color: #57718a;
          text-decoration: none;
        }

        .drin:hover {
          color: #f0c24d;
        }

        .ac {
          color: #f0c24d;
        }
      }
    }

    .soys {
      padding: 0 0 0 20px;

      span {
        .soy {
          font-size: 22px;
          color: #57718a;
          text-decoration: none;
        }

        .soy:hover {
          color: #f0c24d;
        }

        .ac {
          color: #f0c24d;
        }
      }
    }
  }
}
