.about_center {
  height: 900px;

  .about_center_container {
    display: flex;

    .about_center_left {
      margin-left: auto;
      margin-right: auto;
      width: 900px;
      padding: 30px 0 0 0;

      .about_center_left_name {
        margin: 0 0 0 10px;

        h2 {
          color: #57718a;
          font-size: 20px;
          font-weight: 700;
        }
      }

      .about_center_left_abz {
        margin: 0 13px 0 10px;
        border-left: 2px solid #DA9841;


        .about_center_left_text {
          margin: 0 0 30px 0;

          li {
            list-style-type: none;
            color: #57718a;
            font-size: 18px;
            font-weight: 400;
            padding: 20px 0 0 0;
          }
        }
      }
    }

    .sale_center_right {

    }
  }

  .mapcontainer {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 880px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
      left: 0;
      top: 0;
      height: 450px;
      width: 100%;
      position: absolute;
    }
  }
}

@media (max-width: 930px) {
  .mapcontainer {
    max-width: 100%
  }

}



