.content {
  height: 100%;

  .container {
    display: flex;
    margin: 0 0 0 13%;

    .photo_pizza {
    }


    .pizza_info {
      .menu {


        .link_menu {
          color: black;
          text-decoration: none;
          font-weight: 200;
          margin: 0 2px 0 0;


        }

        .link_pizza {
          color: black;
          text-decoration: none;
          font-weight: 200;
          margin: 0 5px 0 0;

        }

        .link_name_pizza {
          color: black;
          font-weight: 500;

        }


      }


      .pizza {
        .ves {
          margin: 20px 0 0;
          font-size: 18px;
          font-weight: 500;


        }

        .name_pizza {
          color: black;
          font-weight: 700;
          font-size: 34px;
          margin: 20px 0 20px 0;
        }

        .cost_pizza {
          color: #EE9937;
          font-weight: 600;
          font-size: 22px;
          margin: 0 0 20px 0;


        }

        .strukture_pizza {
          width: 400px;
          color: black;
          font-weight: 200;
        }

      }

      .size_pizza {

        .input_size {
          margin: 20px 0 0 0;
          width: 500px;
          background: #F5F5F5;
          padding: 30px 0 30px 10px;
          border-radius: 10px;

        }

        .size {
          display: flex;

          .no {
            display: none;
          }

          .decor28 {
            .size28 {
              margin: 20px 20px 0 0;
              background: #EAD1B6;
              width: 50px;
              border-radius: 50px;
              text-align: center;
              padding: 30px 17px 30px 17px;
              cursor: pointer;
              color: #FAFBFF;
              font-width: 500;
              font-size: 18px;
            }

            .line28 {
              padding: 0 0 0 12px;
              color: #EE9937;

            }
          }

          .decor33 {
            .size33 {
              margin: 20px 20px 0 0;
              background: #EAD1B6;
              width: 50px;
              border-radius: 50px;
              text-align: center;
              padding: 30px 17px 30px 17px;
              cursor: pointer;
              color: #FAFBFF;
              font-width: 500;
              font-size: 18px;
            }

            .line33 {
              padding: 0 0 0 12px;
              color: #EE9937;

            }

          }


          .decor45 {
            .size45 {
              margin: 20px 20px 0 0;
              background: #EAD1B6;
              width: 50px;
              border-radius: 50px;
              text-align: center;
              padding: 30px 17px 30px 17px;
              cursor: pointer;
              color: #FAFBFF;
              font-width: 500;
              font-size: 18px;
            }

            .line45 {
              padding: 0 0 0 12px;
              color: #EE9937;

            }

          }

        }

      }

      .your_like {
        margin: 20px 0 0 0;
        display: block;
        text-decoration: none;
        width: 80px;
        height: 30px;
        background-color: #CA3835;
        border-radius: 20px;
        color: white;
        font-size: 14px;
        text-align: center;
        padding: 8px 0 0 0;
      }
    }

  }

  .container_item {
    display: flex;
    margin: 0 0 0 13%;

    .photo_item {
    }


    .item_info {

      .menu_info {
        .link_menu_info {
          color: black;
          text-decoration: none;
          font-weight: 200;
          margin: 0 2px 0 0;

        }

        .link_info {
          color: black;
          text-decoration: none;
          font-weight: 200;
          margin: 0 5px 0 0;

        }

        .link_name_info {
          color: black;
          font-weight: 500;

        }


      }


      .info {


        .name_info {
          color: black;
          font-weight: 700;
          font-size: 34px;
          margin: 20px 0 20px 0;
        }

        .cost_info {
          color: #EE9937;
          font-weight: 600;
          font-size: 22px;
          margin: 0 0 20px 0;


        }

        .strukture_info {
          width: 400px;
          color: black;
          font-weight: 200;
        }

      }

      .your_item {
        margin: 20px 0 0 0;
        display: block;
        text-decoration: none;
        width: 80px;
        height: 30px;
        background-color: #CA3835;
        border-radius: 20px;
        color: white;
        font-size: 14px;
        text-align: center;
        padding: 8px 0 0 0;
      }


    }

  }
}


@media (max-width: 1328px) {
  .content {
    .container {
      margin: 0 1px 0 5%;
    }

    .container_item {
      margin: 0 1px 0 5%;
    }
  }
}

@media (max-width: 970px) {
  .content {
    .container {
      margin: 0 1px 0 0;
    }

    .container_item {
      margin: 0 1px 0 0;
    }
  }
}

@media (max-width: 920px) {
  .content {
    .container {
      flex-wrap: wrap;
      position: relative;

      .photo_pizza {
        margin-right: auto;
        margin-left: auto;
      }

      .pizza_info {
        width: 100%;
        text-align: center;

        .pizza {

          .strukture_pizza {
            margin-right: auto;
            margin-left: auto;
          }


        }

        .size_pizza {
          max-width: 300px;
          padding: 0 15% 0 15%;


          .input_size {
            text-align: left;
          }


        }

        .your_like {
          margin: 30px 0 0 auto;
        }
      }


    }


    .container_item {
      flex-wrap: wrap;
      position: relative;

      .photo_item {
        margin-right: auto;
        margin-left: auto;
      }

      .item_info {
        width: 100%;
        text-align: center;

        .info {

          .strukture_info {
            margin-right: auto;
            margin-left: auto;
          }


        }

        .your_item {
          margin-left: auto;
          margin-right: auto;
        }
      }


    }

    .line28 {
      transform: translate(-15px, 0);

    }

    .line33 {
      transform: translate(-15px, 0);

    }

    .line45 {
      transform: translate(-15px, 0);

    }
  }
}

@media (max-width: 650px) {
  .size_pizza {

    .input_size {
      max-width: 350px;
    }


  }
}

@media (max-width: 470px) {
  .strukture_pizza {
    max-width: 300px;
  }
  .strukture_info {
    max-width: 300px;
  }
  .size_pizza {
    transform: translate(-30px, 0);
    max-width: 300px;


    .input_size {
      max-width: 300px;

    }

    .your_like {
      padding: 0 0 0 30px;


    }


  }
}

@media (max-width: 400px) {
  .your_like {
    transform: translate(35%, 0);

  }
  .input_size {
    transform: translate(-13px, 0);

    max-width: 200px;
  }
  .photo_pizza {

    img {
      max-width: 280px;
      max-height: 280px;
    }


  }

  .photo_item {

    img {
      max-width: 280px;
      max-height: 280px;
    }


  }


}

@media (max-width: 350px) {
  .menu_info {
    margin: 0 10px 0 10px;
  }
  .your_like {
    transform: translate(90%, 0);

  }


}

