.footer_header {
  .footer_header_header {
    padding: 30px 0 0 0;
    text-align: center;

    h2 {
      color: #bd0627;
      font-weight: 700;
      font-size: 30px;

    }

    span {
      color: #1272cc;
      font-weight: 400;
      font-size: 38px;
    }

    p {
      color: #57718a;
      font-size: 16px;

    }
  }

  .footer_header_center_container {
    padding: 50px 0 0 0;


    .footer_header_center {
      display: flex;
      justify-content: center;

      .footer_header_center_left {
        text-align: right;
        margin: 0 25px 0 0;

        .footer_header_center_left_up {
          background: #f2f0eb;
          width: 250px;
          height: 250px;
          border-radius: 10px;
          margin: 0 0 25px 0;
          transition-duration: 0.5s;

          img {
            padding: 0 130px 0 0;
          }

          span {
            padding: 0 20px 0 0;
            color: #1272cc;
            font-size: 22px;
            font-weight: 700;


          }

          p {
            display: inline-block;
            padding: 0 20px 0 0;
            color: #57718a;


          }

        }

        .footer_header_center_left_up:hover {
          background: orange;

          span {
            color: white;
          }

          p {
            color: white;
          }
        }

        .footer_header_center_left_down {
          background: #f2f0eb;
          width: 250px;
          height: 250px;
          border-radius: 10px;
          transition-duration: 0.5s;

          img {
            padding: 0 130px 0 0;
          }

          span {
            padding: 0 20px 0 0;
            color: #1272cc;
            font-size: 22px;
            font-weight: 700;


          }

          p {
            display: inline-block;
            padding: 0 20px 0 0;
            color: #57718a;


          }
        }

        .footer_header_center_left_down:hover {
          background: orange;

          span {
            color: white;
          }

          p {
            color: white;
          }
        }
      }

      .footer_header_center_center {
        img {
          border-radius: 10px;
        }
      }

      .footer_header_center_right {
        text-align: left;
        margin: 0 0 0 25px;

        .footer_header_center_right_up {
          background: #f2f0eb;
          width: 250px;
          height: 250px;
          border-radius: 10px;
          margin: 0 0 25px 0;
          transition-duration: 0.5s;

          img {
            padding: 0 0 0 130px;
          }

          span {
            padding: 0 0 0 20px;
            color: #1272cc;
            font-size: 22px;
            font-weight: 700;


          }

          p {
            display: inline-block;
            padding: 0 0 0 20px;
            color: #57718a;


          }
        }

        .footer_header_center_right_up:hover {
          background: orange;

          span {
            color: white;
          }

          p {
            color: white;
          }
        }

        .footer_header_center_right_down {
          background: #f2f0eb;
          width: 250px;
          height: 250px;
          border-radius: 10px;
          margin: 0 0 25px 0;
          transition-duration: 0.5s;

          img {
            padding: 0 0 0 130px;
          }

          span {
            padding: 0 0 0 20px;
            color: #1272cc;
            font-size: 22px;
            font-weight: 700;


          }

          p {
            display: inline-block;
            padding: 0 0 0 20px;
            color: #57718a;


          }
        }

        .footer_header_center_right_down:hover {
          background: orange;

          span {
            color: white;
          }

          p {
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .footer_header_center_center {
    display: none;
    justify-content: space-around;
  }

}

@media (max-width: 600px) {

  .footer_header_center {
    flex-wrap: wrap;


    .footer_header_center_left_up {
      padding: 0 0 0 35px;
    }

    .footer_header_center_left_down {
      padding: 0 0 0 35px;
    }

    .footer_header_center_center {
      margin: 30px 0 30px 0;
      display: block;

      img {
        width: 300px;
        height: 300px;
      }


    }

    .footer_header_center_right_up {
      padding: 0 35px 0 0;
    }

    .footer_header_center_right_down {
      padding: 0 35px 0 0;
    }
  }


}

